* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./fondo.jpg);
  background-size: cover;
  color: rgb(139, 172, 21);
  font-family: Arial;
  height: 100vh;
  width: 100vw;
}

.project-div {
  height: 80%;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  color: rgb(190, 190, 190);
}

.header {
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 30px 40px rgb(0, 0, 0);
  margin-bottom: 50px;
  text-align: center;
}

.game-title {
  font-size: 3rem;
  font-family: fantasy;
  color: rgb(111, 163, 14);
}

.project-div .links {
  color: rgb(156, 158, 19);
  font-family: "Coda Caption", sans-serif;
  font-size: 4rem;
}

footer,
footer a {
  color: rgb(9, 185, 33);
  font-size: 2rem;
  text-align: center;
}

.pantalla-carga {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(16, 126, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  animation: resize 0.1s forwards;
  animation-delay: 4s;
}

.barril {
  animation: rotate 1s forwards infinite ease;
  animation-timing-function: linear;
}

.creator-github {
  font-size: 1.2rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes resize {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 0%;
    width: 0%;
  }
}
